.form-control{
    width: 50%;
}

.body {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/05/04/98/655963cd29c56a5.jpg");
    height: 625px;
    background-size: cover;
}

